

.input-row{
    display:flex;
    border: 1px solid #000;
}
.flex-row{
    flex:1;
    margin:15px 1%;
}
.form{
    float: left;
    margin:15px 1%;
}
.form:nth-child(n+5){
    width: 10%;
    float: left;
}
.product-input{
    height:58px;
}
.product-form{
    width:14%;
    margin:15px 1%;
}




